@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(archives/fondo.jpg);
}

header {
    width: 100%;
    background-color: #164863;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Agbalumo, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.input-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 30%;
}

.input-box,
.button-box {
    width: 100%;
}

.input-box input,
.button-box button {
    width: calc(100% - 20px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 65%;
    font-family: 'Arial', sans-serif;
}